{% extends "layout.html" %}

{% block title %}
    Remove Itens
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row justify-content-center" id="spacer">
            <form action="/remove" method="post">
                    <input autocomplete="off" id="name" autofocus class="form-control" name="item" placeholder="Item" type="text">
                    <input autocomplete="off"  class="form-control" name="amount" placeholder="Amount" type="text">
                    <div id="buttons">
                        <button class="btn btn-primary" type="submit">Remove</button>
                    </div>
            </form>
        </div>
        {% if storage != ""%}
            <div id="index_table" class="row justify-content-center">
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Expiration Date</th>
                        <th>Type</th>
                    </tr>
                    <tr>
                        {% for row in storage %}
                            <tr>
                                <td id="{{row.item}}">{{row.item}}</td>
                                <td>{{row.amount}} {{row.unit}}</td>
                                <td>{{row.expiration}}</td>
                                <td>{{row.type}}</td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        {% endif %}
        <script>
            $(document).ready(function(){
                var itens=[];
                function loadItens(){
                    $.getJSON('/itens', function(data, status, xhr){
                        for (var i = 0; i < data.length; i++ ) {
                            itens.push(data[i].item);
                        }
                    });
                };
                loadItens();

                $('#name').autocomplete({
                    source: itens,
                });

                $("#name").on("keyup", function(){
                    var typed = $("#name").val().toUpperCase()
                    for (let i = 0; i < itens.length; i++){
                        if (!itens[i].toUpperCase().match(typed)){
                            var tmp = ("#" + itens[i]).toLowerCase()
                            var tmp2 = "#" + tmp.charAt(1).toUpperCase() + tmp.slice(2)
                            $(tmp2).parent().hide()
                        }
                        else{
                            var tmp = ("#" + itens[i]).toLowerCase()
                            var tmp2 = "#" + tmp.charAt(1).toUpperCase() + tmp.slice(2)
                            $(tmp2).parent().show()
                        }
                    }
                })
            });
        </script>
    </div>
{% endblock %}